.auth-btn {
  box-shadow: 0 3px 5px #79201b, inset 0 1px 0 rgb(255, 255, 255);
  background: linear-gradient(180deg,#dbb265,#9c7429);
  border-radius: 50rem!important;
}

.auth-btn:focus, .auth-btn:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}