@font-face {
  font-family: Rationale;
  src: url(assets/fonts/Rationale-Regular.ttf);
}

@font-face {
  font-family: Righteous;
  src: url(assets/fonts/Righteous-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.ttf);
}

body {
  transition: 0.5s;
}

.bg-color, .bg-color-primary {
  background: #fff !important;
  color: #000 !important;
}

.bg-color-maroon {
  background-color: #79201b !important;
  color: #fff;
}

.bg-color-gold {
  background-color: #d7a74f !important;
}

.text-color-gold {
  color: #d7a74f !important;
}

.text-color-maroon {
  color: #79201b !important;
}

.font-rationale {
  font-family: Rationale;
}

.font-righteous {
  font-family: Righteous;
}

.font-roboto {
  font-family: Roboto;
}

.bg-img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.heading {
  /* letter-spacing: 6px; */
  color: #ffffff;
}

.zindex-tooltip {
  z-index: 1000;
}

.mw-50 {
  min-width: 50%
}

@media (max-width:700px) {
  .card {
    min-width: 75vw !important;
  }
}

.auth-btn {
  box-shadow: 0 3px 5px #79201b, inset 0 1px 0 rgb(255, 255, 255);
  background: linear-gradient(180deg,#dbb265,#9c7429);
  border-radius: 50rem!important;
}

.auth-btn:focus, .auth-btn:focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
}

input[type="radio"]:checked + label {
  color: #fff;
  border: 5px solid #d7a74f;
}

input[type="radio"] + label:hover {
  color: #fff;
}

input[type="radio"]:checked + label > div {
  padding-top: 200px !important;
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.8)) !important;
  color: #000;
}

input[type="radio"] + label {
  color: rgba(255, 255, 255, 0.5);
}